<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Huiles Moteurs Marins</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="slideOneForm">
    <ion-card class="bg-white" no-margin>
      <ion-card-content>
        <h3 margin-bottom>
          <ion-text color="primary">
            <strong>Huiles Moteurs Marins </strong>
          </ion-text>
        </h3>
        <div *ngFor="let product of products; let i=index">
            <ion-row>
            <ion-col size="12" (click)="toggle(i)"> <p class="product-reference">
              {{product.value}}
            </p></ion-col>
              <ion-col   size="12">
              <ion-item *ngFor="let quant of quantities">
                <ion-label position="floating">{{quant.value}}</ion-label>
                <ion-input type="number"  (input)="onInputChange($event.target.value,quant.name,product.value)" value="0" placeholder="choose the quantity"></ion-input>
              </ion-item>
              </ion-col>
            </ion-row>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-button type="submit" (click)="nextStep()" type expand="block">
   SUIVANT
 </ion-button>
  </form>
</ion-content>