<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Liste du produit à commandé </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="bg-white" no-margin>
    <ion-card-content *ngFor="let command of commands; let i=index">
      <h3 margin-bottom>
        <ion-text color="primary">
          <strong>
            {{command.type}}
          </strong>
        </ion-text>
      </h3>
      <div *ngIf="command.quantity.length > 0 ; else other_content">
              <ion-grid *ngFor="let product of command.quantity; let j=index">
                <ion-row >
                  <ion-col class="col">
                    <h5>
                      {{product.category}}
                    </h5>
                  </ion-col>
                  <ion-col class="col">
                    <h5>
                        {{product.packaging}}
                    </h5>
                  </ion-col>
                  <ion-col class="col">
                    <h5>
                        {{product.quantity}}
                    </h5>
                  </ion-col>
                </ion-row>
              </ion-grid>
      </div>
      <ng-template #no_content> No Data Found </ng-template>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" routerLink="/essence" routerDirection="root">
   Confirmer
 </ion-button>
</ion-content>