<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Huile Moteur a Gaz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <form [formGroup]="slideOneForm">
  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h3 margin-bottom>
        <ion-text color="primary">
          <strong>Huile Moteur a Gaz </strong>
        </ion-text>
      </h3>
      <div *ngFor="let product of products; let i=index">
        <ion-item>
          <ion-label>
            {{product.value}}
          </ion-label>
          <ion-select multiple="false" cancelText="Cancel" okText="Confirm" formControlName="{{product.name}}">
            <div *ngFor="let quant of quantities">
              <ion-select-option value="{{quant.name}}">{{quant.value}}</ion-select-option>
            </div>
          </ion-select>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-button type="submit" (click)="nextStep()" type expand="block">
   Next
 </ion-button>
 </form>
</ion-content>